* text=auto
/.github export-ignore
/bin/process-mysqldump.c export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/box.json export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
/README.md export-ignore
/tests export-ignore
