* text=auto
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/README.md export-ignore
/app export-ignore
/bin/Dockerfile-ubuntu-amd64 export-ignore
/bin/Makefile export-ignore
/bin/process-mysqldump.c export-ignore
/bootstrap export-ignore
/box.json export-ignore
/composer.lock export-ignore
/config export-ignore
/phpunit.xml.dist export-ignore
/pimcore-dump-helper export-ignore
/pint.json export-ignore
/tests export-ignore
